<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haitunhv.jk.mapper.ExamPlaceMapper">
    <resultMap id="rmSelectRegionExamPlaces"
               type="ProvinceVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="plate" property="plate"/>
        <collection property="children" ofType="CityVo">
            <id column="city_id" property="id"/>
            <result column="city_name" property="name"/>
            <result column="city_plate" property="plate"/>
            <collection property="children" ofType="ExamPlaceVo">
                <id column="exam_place_id" property="id"/>
                <result column="exam_place_name" property="name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectRegionExamPlaces"
            resultMap="rmSelectRegionExamPlaces">
        SELECT
            p.id,
            p.name,
            p.plate,
            c.id city_id,
            c.name city_name,
            c.plate city_plate,
            e.id exam_place_id,
            e.name exam_place_name
        FROM plate_region p
             JOIN plate_region c ON c.parent_id = p.id
             JOIN exam_place e ON e.city_id = c.id AND e.province_id = p.id
        WHERE p.parent_id = 0
        ORDER BY p.pinyin, c.plate
    </select>
</mapper>