<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}{yellow}} [%-5p] %c: %m%n}</Property>
        <Property name="CHARSET" >UTF-8</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"
                           chartset="${CHARSET}" disableAnsi="false" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>