<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration
        PUBLIC "-//log4j//log4j Cofiguration//EN"
        "log4j.dtd">
<log4j:configuration>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{HH:mm:ss.SSS} [%-5p] %c: %m%n"/>
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="绝对路径"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{HH:mm:ss.SSS} [%-5p] %c: %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>