<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        延时加载开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
<!--    别名-->
    <typeAliases>
        <typeAlias type="com.haitunhv.common.DruidDataSourceFactory" alias="druid"/>
        <typeAlias type="com.haitunhv.bean.Skill" alias="Skill"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <!-- 环境-->
    <environments default="development">
        <!-- 开发环境-->
        <environment id="development">
            <!-- 采用JDBC的事务管理方法-->
            <transactionManager type="JDBC" />
            <!-- POOLED代表采取连接池的方式管理链接 -->
            <dataSource type="druid">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/xr"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
                <property name="maxWait" value="5000"/>
            </dataSource>
        </environment>

        <!-- 生产环境-->
        <environment id="production">
            <!-- 采用JDBC的事务管理方法-->
            <transactionManager type="JDBC" />
            <!-- POOLED代表采取连接池的方式管理链接 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/xr"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/skill.xml" />
    </mappers>
</configuration>