<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
<!--    抽取公共部分-->
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%-5p] %c: %m%n"/>
    <property name="CHARSET" value="UTF-8"/>
<!--    appender-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
<!--            当匹配：接收（开启打印）-->
            <onMatch>ACCEPT</onMatch>
<!--            当不匹配：否定（关闭打印）-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>路径</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.FileAppender">
        <file>路径</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
<!--        基于时间的滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--            支持压缩-->
            <fileNamePattern>${BASE_PATH}/%d{yyyy-MM-dd-HH-mm-ss}.log</fileNamePattern>
<!--            删除20秒前的日志文件-->
            <maxHistory>20</maxHistory>
<!--            总的日志大小限制（超过了，就删除最早的日志）-->
            <totalSizeCap>10KB</totalSizeCap>
        </rollingPolicy>
    </appender>



<!--    logger-->
    <root level="TRACE">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.haitunhv" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
</configuration>